In [58]:
import pandas as pd

In [59]:
df = pd.read_csv("apagon_data_processed.csv")
df

,OID_,Join_Count,TARGET_FID,latitude,longitude,has_power,timestamp,date,barrio,municipio,geoid,barrio_id,report_count
0,1,1,1,18.357272,-65.721699,False,2022-08-18 00:41:43.796974 +00:00,8/18/2022 0:41:43,Sabana,Luquillo,7210773114,973,1
1,2,2,2,18.327498,-65.658402,False,2022-08-18 00:50:11.652021 +00:00,8/18/2022 0:50:11,Barrio Pueblo,Fajardo,7205932350,131,1
2,3,1,3,18.383904,-66.073697,False,2022-08-18 04:26:59.675919 +00:00,8/18/2022 4:26:59,Monacillo Urbano,San Juan,7212753936,848,1
3,4,1,4,18.383904,-66.073697,True,2022-08-18 04:27:26.451067 +00:00,8/18/2022 4:27:26,Monacillo Urbano,San Juan,7212753936,848,1
4,5,1,5,18.296937,-65.635969,False,2022-08-18 07:47:17.258636 +00:00,8/18/2022 7:47:17,Quebrada Vueltas,Fajardo,7205367868,918,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6039,6040,1,6040,18.079705,-67.140644,False,2022-10-17 22:18:14.905699 +00:00,10/17/2022 22:18:14,Monte Grande,Cabo Rojo,7202354409,854,1
6040,6041,1,6041,18.128629,-67.113224,True,2022-10-17 22:27:22.646936 +00:00,10/17/2022 22:27:22,Hormigueros,Hormigueros,7206735075,606,1
6041,6042,1,6042,18.141914,-67.112216,False,2022-10-17 23:03:23.409114 +00:00,10/17/2022 23:03:23,Hormigueros,Hormigueros,7206735075,606,1
6042,6043,1,6043,18.364379,-66.066176,True,2022-10-17 23:19:44.580629 +00:00,10/17/2022 23:19:44,Monacillo,San Juan,7212753893,847,1
6043,6044,1,6044,18.402114,-65.968752,True,2022-10-17 23:57:29.533347 +00:00,10/17/2022 23:57:29,Sabana Abajo,Carolina,7203173286,879,1

In [60]:
df.dtypes

OID_              int64
Join_Count        int64
TARGET_FID        int64
latitude        float64
longitude       float64
has_power          bool
timestamp        object
date             object
barrio           object
municipio        object
geoid             int64
barrio_id         int64
report_count      int64
dtype: object

In [61]:
df.timestamp = pd.to_datetime(df.timestamp)
df.date = pd.to_datetime(df.date)
df['timestamp'] = pd.to_datetime(df.timestamp).dt.tz_localize(None)
df.dtypes

OID_                     int64
Join_Count               int64
TARGET_FID               int64
latitude               float64
longitude              float64
has_power                 bool
timestamp       datetime64[ns]
date            datetime64[ns]
barrio                  object
municipio               object
geoid                    int64
barrio_id                int64
report_count             int64
dtype: object

In [62]:
df.sort_values('timestamp', inplace = True)

In [63]:
df.head(100)

,OID_,Join_Count,TARGET_FID,latitude,longitude,has_power,timestamp,date,barrio,municipio,geoid,barrio_id,report_count
0,1,1,1,18.357272,-65.721699,False,2022-08-18 00:41:43.796974,2022-08-18 00:41:43,Sabana,Luquillo,7210773114,973,1
1,2,2,2,18.327498,-65.658402,False,2022-08-18 00:50:11.652021,2022-08-18 00:50:11,Barrio Pueblo,Fajardo,7205932350,131,1
2,3,1,3,18.383904,-66.073697,False,2022-08-18 04:26:59.675919,2022-08-18 04:26:59,Monacillo Urbano,San Juan,7212753936,848,1
3,4,1,4,18.383904,-66.073697,True,2022-08-18 04:27:26.451067,2022-08-18 04:27:26,Monacillo Urbano,San Juan,7212753936,848,1
4,5,1,5,18.296937,-65.635969,False,2022-08-18 07:47:17.258636,2022-08-18 07:47:17,Quebrada Vueltas,Fajardo,7205367868,918,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,96,1,96,18.284033,-67.131257,False,2022-08-22 23:30:26.845999,2022-08-22 23:30:26,Carreras,Añasco,7201314505,281,1
96,97,1,97,18.284033,-67.131257,False,2022-08-22 23:31:12.347550,2022-08-22 23:31:12,Carreras,Añasco,7201314505,281,1
97,98,1,98,18.284033,-67.131257,False,2022-08-22 23:54:28.409858,2022-08-22 23:54:28,Carreras,Añasco,7201314505,281,1
98,99,1,99,18.284033,-67.131257,False,2022-08-22 23:55:02.154120,2022-08-22 23:55:02,Carreras,Añasco,7201314505,281,1
99,100,1,100,18.284033,-67.131257,False,2022-08-22 23:56:32.879980,2022-08-22 23:56:32,Carreras,Añasco,7201314505,281,1

In [64]:
df.drop_duplicates(['timestamp', 'barrio'],inplace = True)

In [65]:
df

,OID_,Join_Count,TARGET_FID,latitude,longitude,has_power,timestamp,date,barrio,municipio,geoid,barrio_id,report_count
0,1,1,1,18.357272,-65.721699,False,2022-08-18 00:41:43.796974,2022-08-18 00:41:43,Sabana,Luquillo,7210773114,973,1
1,2,2,2,18.327498,-65.658402,False,2022-08-18 00:50:11.652021,2022-08-18 00:50:11,Barrio Pueblo,Fajardo,7205932350,131,1
2,3,1,3,18.383904,-66.073697,False,2022-08-18 04:26:59.675919,2022-08-18 04:26:59,Monacillo Urbano,San Juan,7212753936,848,1
3,4,1,4,18.383904,-66.073697,True,2022-08-18 04:27:26.451067,2022-08-18 04:27:26,Monacillo Urbano,San Juan,7212753936,848,1
4,5,1,5,18.296937,-65.635969,False,2022-08-18 07:47:17.258636,2022-08-18 07:47:17,Quebrada Vueltas,Fajardo,7205367868,918,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6039,6040,1,6040,18.079705,-67.140644,False,2022-10-17 22:18:14.905699,2022-10-17 22:18:14,Monte Grande,Cabo Rojo,7202354409,854,1
6040,6041,1,6041,18.128629,-67.113224,True,2022-10-17 22:27:22.646936,2022-10-17 22:27:22,Hormigueros,Hormigueros,7206735075,606,1
6041,6042,1,6042,18.141914,-67.112216,False,2022-10-17 23:03:23.409114,2022-10-17 23:03:23,Hormigueros,Hormigueros,7206735075,606,1
6042,6043,1,6043,18.364379,-66.066176,True,2022-10-17 23:19:44.580629,2022-10-17 23:19:44,Monacillo,San Juan,7212753893,847,1
6043,6044,1,6044,18.402114,-65.968752,True,2022-10-17 23:57:29.533347,2022-10-17 23:57:29,Sabana Abajo,Carolina,7203173286,879,1

In [68]:
df.to_excel('output.xlsx', index = False, encoding = 'utf-8-sig')